@tailwind components;
@tailwind utilities;

*{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  text-wrap: balance;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html{
  background-color: #151b2a;
}

button {
  cursor: pointer;
}

input, textarea{
  color:black;
}


.img1 {
  background-image: url('./assets/deadpool.jpg'), linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)); 
  background-blend-mode: overlay;
  background-size: contain;
  transition: background 0.5s ease;
  transition: .2s;
}

.img2 {
  background-image: url('./assets/pepsi.jpg'), linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)); 
  background-blend-mode: overlay;
  background-size: contain;
  transition: background 0.5s ease;
  transition: .2s;
}

.img3 {
  background-image: url('./assets/cactus.jpg'), linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)); 
  background-blend-mode: overlay;
  background-size: contain;
  transition: background 0.5s ease;
  transition: .2s;
}

.img1:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.688);
  transition: .2s;
}

.img2:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.688);
  transition: .2s;
}

.img3:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.477);
  transition: .2s;
}



@media (min-width: 540px) {
  .ul {
    grid-template-columns: 1fr 1fr;
    margin-top: 35px;
  }

  .li {
    height: 50px;
  }

  .techContainer {
    display: grid;
    grid-template-rows: repeat(2, minmax(60px, auto));
    padding: 10px;
    gap: 10px;
  }

}

@media (min-width: 1024px) {

  .big,
  .bigleft,
  .bigright,
  .mini,
  .minileft,
  .miniright {
    transition: 0.4s ease !important ;
  }
  
  .minileft {
    transform: scale(0.7) translate(-149%, 0px);
  }
  
  .bigleft {
    transform: scale(1.2) translate(-87%, 0px);
  }
  
  .big {
    transform: scale(1.2);
  }
  
  .mini {
    transform: scale(0.7);
  }
  
  .miniright {
    transform: scale(0.7) translate(149%, 0px);
  }
  
  .bigright {
    transform: scale(1.2) translate(87%, 0px);
  }
}

input:focus, textarea:focus {
  outline: none;
}
